{% load staticfiles %}

<html>

<head>
    <title>Furman Form</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->


    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>


    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}"> -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

    <!-- https://code.jquery.com/jquery-3.3.1.js
    https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js
    https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js -->
</head>

<body>

    <nav id="top-nav" class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" style="color: white; font-weight: bold">Furman Records</a>
        {% if user.is_authenticated %}
        <ul class="nav nav-list ">
            <li class="nav-item home">
                    <a class="nav-link" href="{% url 'post_list' %}">Home</a>
                </li>
            {% if request.user.is_superuser %}
            <li class="nav-item users">
                <a class="nav-link" href="{% url 'user_list' %}">Users</a>
            </li>
            {% endif %}
            <li class="nav-item newitem">
                    <a class="nav-link" href="
                            {% if 'post' in request.path %}
                                {% url 'post_new' %}
                            {% elif 'user' in request.path and request.user.is_superuser %}
                                {% url 'user_new' %}
                            {% endif %}">New</a>
                </li>
        </ul>
        <div class="pull-right" style="margin-right: 20px; color: white; font-size: 20px;">
                Hi {{ user.username }}!
                <a href="/logout/"> Logout </a>
            </div>
        {% else %} {% endif %}
    </nav>


    <!-- <nav id="top-nav" class="navbar navbar-dark bg-dark">
        {% if user.is_authenticated %}
        <a class="navbar-brand" style="color: white; font-weight: bold">Furman Records</a>
        {% if request.user.is_superuser %}
        <ul class="nav nav-list">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'post_list' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_list' %}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="
                        {% if 'post' in request.path %}
                            {% url 'post_new' %}
                        {% elif 'user' in request.path and request.user.is_superuser %}
                            {% url 'user_new' %}
                        {% endif %}">New</a>
            </li>
            {% endif %}
        </ul>
        <div class="pull-right" style="margin-right: 20px; color: white; font-size: 20px;">
            Hi {{ user.username }}!
            <a href="/logout/"> Logout </a>
        </div>
        {% else %} {% endif %}
    </nav> -->

    <div class="main container">
        {% block content %} {% endblock %}
    </div>


    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#escalation').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'ajax_pagination' %}",
                "scrollX": true
            });
            $('#usertable').DataTable();

            {% if 'post' in request.path %}
                $(".home").addClass("active")
            {% elif 'new' in request.path and request.user.is_superuser %}
                $(".newitem").addClass("active")
            {% else %}
                $(".users").addClass("active")
            {% endif %}
            // 	 $('select#selectsurveytype').change(function () {
            // 		 var optionSelected = $(this).find("option:selected");
            // 		 var valueSelected  = optionSelected.val();
            // 		 var country_name   = optionSelected.text();
            // 		 data = {'surveytype' : country_name };
            //           $.ajax('/getdetails',data,function(result){
            // 			 	console.log(result);
            // 			 	$("#selectcounty option").remove();
            // 			 	for (var i = result.length - 1; i >= 0; i--) {
            // 			 		$("#selectcounty").append('<option>'+ result[i].county +'</option>');
            // 			 	};
            // 			 });
            // 	 });
        });

    </script>
</body>

</html>