<%inherit file="base.htm"/>
<%block name="header">
<link rel="stylesheet" href="/static/lib/build/countrySelect.min.css">
<title>Enter Form</title>
</%block>
<%block name="content">
<form method="POST" action="/form">${csrf_input}
    <div class="">
        <p style="margin-bottom: 0px;"><strong>Title: <span style="color: red;">*</span></strong></p>
        <select name="title" class="form-control" required>
            <option value="default">- Select -</option>
            <option value="Furman Land Surveyers, Inc.">Furman Land Surveyers, Inc.</option>
            <option value="GDI, Inc.">GDI, Inc. - Amarillo</option>
            <option value="GDI, Inc.">GDI, Inc. - Canadian</option>
        </select> 
    </div>
    <div class="section-row">
        <div class="section-1">
            <p class="section-header">Client Info:</p>
            <p><strong>Date:</strong></p>
            <input type="date" class="form-control" name="date"/>
            <p><strong>Date Needed:</strong></p>
            <input type="date" class="form-control" name="date-needed"/>
            <p><strong>Client: <span style="color: red;">*</span></strong></p>
            <input type="text" class="form-control" name="client" required/>
        </div>
        <div class="section-2">
            <p class="section-header">Job Location:</p>
            <p><strong>Map No.</strong></p>
            <input type="text" name="mapno" class="form-control"/>
            <p><strong>Address:</strong></p>
            <input type="text" name="address" class="form-control" placeholder="1234 Main St."/>
            <p><strong> </strong></p>
            <div class="form-inline">
                <input type="text" name="city" class="form-control col-md-8" placeholder="City"/>
                <input type="text" name="state" style="float: right;" class="form-control col-md-4" placeholder="State/Province"/>
            </div>
            <div class="form-inline">
                <input type="text" name="zip" class="form-control col-md-8" placeholder="Postal/Zip Code"/>
                <input type="text" name="country" id="country" style="float: right;" class="form-control col-md-4" placeholder="Country"/>
            </div>
            
        </div>
    </div>
    <div class="section-row">
        <div class="section-1">
            <p class="section-header">Job Info:</p>
            <p><strong>Project No. <span style="color: red;">*</span></strong></p>
            <input type="text" name="projectno" class="form-control" required/>
            <p><strong>Job Contact <span style="color: red;">*</span></strong></p>
            <input type="text" name="jobcontact" class="form-control" required/>
            <p><strong>Phone <span style="color: red;">*</span></strong></p>
            <input type="text" name="phone" class="form-control" required/>
            <p><strong>Notes <span style="color: red;">*</span></strong></p>
            <input type="text" name="notes" class="form-control big-ext" required/>

        </div>
        <div class="section-2">
            <p class="section-header">Legal:</p>
            <p><strong>Survey Type <span style="color:red;">*</span></strong></p>
            <select name="surveytype" class="form-control" oninput="determineForm(this)" required>
                <option value="default">- Select -</option>
                <option value="prad">PRAD</option>
                <option value="rural">RURAL</option>
                <option value="plss">PLSS</option>
            </select>
            <p><strong>County <span style="color: red;">*</span></strong></p>
            <input type="text" name="county" class="form-control" id="county" required/>
            <div id="prad-select" style="display: none;">
                <p><strong>Subdivision</strong></p>
                <input type="text" name="subdivision" class="form-control"/>
                <p><strong>Unit</strong></p>
                <input type="text" name="unit" class="form-control"/>
                <p><strong>Sub Block</strong></p>
                <input type="text" name="subblock" class="form-control"/>
                <p><strong>Lot</strong></p>
                <input type="text" name="lot" class="form-control"/>
            </div>
            <div id="rural-select" style="display: none;">
                <p class="rural-select">
                        For a map of Texas sections click
                        <a href="http://gisweb.glo.texas.gov/glomapjs/index.html" target="_blank">here.</a>
                        <br />
                        <strong>Survey
                            <span style="color: red;">*</span>
                        </strong>
                    </p>
                <p><strong>Survey <span style="color: red;">*</span></strong></p>
                <input type="text" name="survey" class="form-control" id="survey"/>
                <p><strong>Block <span style="color: red;">*</span></strong></p>
                <input type="text" name="block" class="form-control" id="block"/>
                <p><strong>Section <span style="color: red;">*</span></strong></p>
                <input type="text" name="section" class="form-control" id="section"/>
            </div>
            <div id="plss-select" style="display: none;">
                <p><strong>Meridian <span style="color: red;">*</span></strong></p>
                <input type="text" name="meridian" class="form-control" id="meridian"/>
                <p><strong>Township Range <span style="color: red;">*</span></strong></p>
                <input type="text" name="town_range" class="form-control" id="town-range" />
                <p><strong>Section <span style="color: red;">*</span></strong></p>
                <input type="text" name="section" class="form-control" id=""/>
            </div>
        </div>
    </div>
    <div class="section-row">
        <div class="section-1">
            <p class="section-header">Reference Info:</p>

            <p><strong>Certify To</strong></p>
            <input type="text" name="certify" class="form-control"/>
            <p><strong>Lender</strong></p>
            <input type="text" name="lender" class="form-control"/>
            <p><strong>GF#</strong></p>
            <input type="text" name="gf" class="form-control"/>


            <!-- ADD THESE -->
            <p><strong>Clerksfile #</strong></p>
            <input type="text" name="gf" class="form-control"/>

            <p><strong>Volume</strong></p>
            <input type="text" name="#" class="form-control"/>

            <p><strong>Page</strong></p>
            <input type="text" name="#" class="form-control"/>
            <!--END ADD-->

            <button class="btn btn-ext">Save</button>

        </div>

    </div>
    <div class="section-row">
        <div class="section-2">
            <p class="section-header">Folder Path</p>
            <p><strong>Folder Path <span style="color: red;">*</span></strong></p>
            <input type="text" name="fpath" class="form-control" required/>
        </div>
    </div>
    
    <script>
        function determineForm(e) {
            //3 values are: rural, prad, plss
            var rural = document.getElementById('rural-select');
            var prad = document.getElementById('prad-select');
            var plss = document.getElementById('plss-select');
            if(e.value == "rural") {
                //display rural-select
                prad.style.display = "none";
                plss.style.display = "none";
                rural.style.display = "block";
            } else if (e.value == "prad") {
                //display prad-select
                prad.style.display = "block";
                plss.style.display = "none";
                rural.style.display = "none";
            } else if (e.value == "plss") {
                //display plss-select
                prad.style.display = "none";
                plss.style.display = "block";
                rural.style.display = "none";
            } else {
                prad.style.display = "none";
                plss.style.display = "none";
                rural.style.display = "none";
            }
        }
    </script>
    
</form>
</%block>