{% extends 'blog/base.html' %} {% block content %}
<!-- <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form> -->
<form method="POST" class="post-form">{% csrf_token %}
    <div class="row">
        <div class="col-md-12">

            <p style="margin-bottom: 0px;">
                <strong>Title:
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <select name="title" class="form-control" required>
                <option value='{{ form.title.value|default_if_none:"" }}'>{{ form.title.value|default_if_none:" - Select - " }}</option>
                <option value="Furman Land Surveyers, Inc.">Furman Land Surveyers, Inc.</option>
                <option value="GDI, Inc.">GDI, Inc.</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="section-header">Project Info:</p>
            <!-- !!! DATE AS SAVE timestamp !!! -->
            <!-- <p>
                <strong>Date:</strong>
            </p>
            <input type="date" class="form-control" name="date" value='{{ form.date_entered.value|date:' Y-m-d ' }}'/> -->
            <p>
                <strong>Date Needed:</strong>
            </p>
            <input type="date" class="form-control" name="date-needed" value='{{ form.date_needed.value|date:' Y-m-d ' }}' />
            <p>
                <strong>Project No.
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <input type="text" id="projectno" name="projectno" class="form-control" value='{{ form.project_no.value|default_if_none:"" }}'
                required/>

            <p>
                <strong>Client:
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <input type="text" class="form-control autocomplete-client" name="client" value='{{ form.client.value|default_if_none:"" }}'
                required/>

            <p>
                <strong>Requested By:</strong>
            </p>
            <input type="text" class="form-control" name="requested_by" value='{{ form.requested_by.value|default_if_none:"" }}'/>
            <p>
                <strong>Job Contact
                </strong>
            </p>
            <input type="text" name="jobcontact" class="form-control" value='{{ form.contact.value|default_if_none:"" }}'/>
            <p>
                <strong>Phone
                </strong>
            </p>
            <input type="text" name="phone" class="form-control" value='{{ form.phone.value|default_if_none:"" }}'/>


            <!-- Job Location -->
            <p class="section-header">Job Location:</p>
            <p>
                <strong>Map No.</strong>
            </p>
            <input type="text" name="mapno" class="form-control" value='{{ form.map_no.value|default_if_none:"" }}' />

            <div class="form-group gaddress f38 " data-fid="f38">
                <strong>Address</strong>
                <div class="form-group addressLine1">
                    <label class="control-label sr-only" for="f38_addressLine1">Address Line1</label>
                    <input type="text" class="form-control gaddress-autocomplete" data-gaddress-types="street_number route" data-gaddress-name="long_name"
                        id="f38_addressLine1" name="address_street" value="" aria-describedby="f38_addressLine1-help-block" placeholder="1234 Main St."
                        autocomplete="off">
                    <p id="f38_addressLine1-help-block" class="description sr-only">Street address, P.O. box, company name, c/o</p>
                </div>
                <div class="form-group city" style="float: none;">
                    <label class="control-label sr-only" for="f38_city">City</label>
                    <input type="text" class="form-control" data-gaddress-types="locality" data-gaddress-name="long_name" id="f38_city" name="city"
                        value="" aria-describedby="f38_city-help-block" placeholder="City">
                    <p id="f38_city-help-block" class="description sr-only">City</p>
                </div>
                <div class="form-group state" style="float: none;">
                    <label class="control-label sr-only" for="f38_state">State / Province / Region</label>
                    <input type="text" class="form-control" data-gaddress-types="administrative_area_level_1" data-gaddress-name="long_name"
                        id="f38_state" name="state" value="" aria-describedby="f38_state-help-block" placeholder="State / Province / Region">
                    <p id="f38_state-help-block" class="description sr-only">State / Province / Region</p>
                </div>
                <div class="form-group postalCode" style="float: none;">
                    <label class="control-label sr-only" for="f38_postalCode">Postal / Zip Code</label>
                    <input type="text" class="form-control" data-gaddress-types="postal_code" data-gaddress-name="long_name" id="f38_postalCode"
                        name="zipcode" value="" aria-describedby="f38_postalCode-help-block" placeholder="Postal / Zip Code">
                    <p id="f38_postalCode-help-block" class="description sr-only">Postal / Zip Code</p>
                </div>
                <div class="form-group country" style="float: none;">
                    <label class="control-label sr-only" for="f38_country">Country</label>
                    <input type="text" class="form-control" data-gaddress-types="country" data-gaddress-name="long_name" id="f38_country" name="country"
                        value="" aria-describedby="f38_country-help-block" placeholder="Country">
                    <p id="f38_country-help-block" class="description sr-only">Country</p>
                </div>
                <div class="mq-indicator"></div>
            </div>

            <!-- Notes -->
            <p class="section-header">Notes:</p>
            <p>
                <strong>Notes
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <textarea name="notes" class="form-control big-ext" required rows=5>{{ form.notes.value|default_if_none:"" }}</textarea>
        </div>


        <div class="col-md-6">
            <!-- Certify To -->
            <p class="section-header">Reference Info:</p>

            <p>
                <strong>Certify To</strong>
            </p>
            <input type="text" name="certify" class="form-control" value='{{ form.certify_to.value|default_if_none:"" }}' />
            <p>
                <strong>Lender</strong>
            </p>
            <input type="text" name="lender" class="form-control" value='{{ form.lender.value|default_if_none:"" }}' />
            <p>
                <strong>GF#</strong>
            </p>
            <input type="text" name="gf" class="form-control" value='{{ form.gf_no.value|default_if_none:"" }}' />

            <!-- ADD THESE -->
            <p>
                <strong>Clerksfile #</strong>
            </p>
            <input type="text" name="clerkfile" class="form-control" value='{{ form.clerkfile.value|default_if_none:"" }}' />

            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>Volume</strong>
                    </p>
                    <input type="text" name="book" class="form-control" value='{{ form.book.value|default_if_none:"" }}' />
                </div>
                <div class="col-md-6">
                    <p>
                        <strong>Page</strong>
                    </p>
                    <input type="text" name="page" class="form-control" value='{{ form.page.value|default_if_none:"" }}' />
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>Well Name</strong>
                    </p>
                    <input type="text" name="well_name" class="form-control" value='{{ form.well_name.value|default_if_none:"" }}'/>
                </div>
                <div class="col-md-6">
                    <p>
                        <strong>Well Number</strong>
                    </p>
                    <input type="text" name="well_number" class="form-control" value='{{ form.well_number.value|default_if_none:"" }}'/>
                </div>
            </div>
            <!--END ADD-->

            <p class="section-header">Legal:</p>
            <p>
                <strong>Survey Type
                    <span style="color:red;">*</span>
                </strong>
            </p>
            <!-- <select name="surveytype" class="form-control" oninput="determineForm(this)" required>
                <option value='{{ form.survey_type.value }}'>{{ form.survey_type.value|upper }}</option>
                <option value="prad">PRAD</option>
                <option value="rural">RURAL</option>
                <option value="plss">PLSS</option>
            </select> -->
            <select name="surveytype" id="selectsurveytype" class="form-control" oninput="determineForm(this)" required>
                <option value=""> - Select - </option>
                {% for join_type in join_types %} {% if join_type.join_type != '0' %}
                <option value="{{join_type.join_type }}">{{ join_type.join_type|upper }}</option>
                {% endif %} {% endfor %}
            </select>
            <div class="countyblk">
                <p>
                    <strong>County
                        <span style="color: red;">*</span>
                    </strong>
                </p>

                <select name="county" id="selectcounty" class="form-control" required oninput="selCounty(this)">
                    <option value=""> - Select - </option>
                </select>
            </div>

            <!-- <select id="company-list">
                {% for company in company_list %}
                <option value="{{ company.id }}">
                    {{ company.name }}
                </option>
                {% endfor %}
            </select> -->


            <!-- <input type="text" name="county" class="form-control" id="county" value='{{ form.county.value }}' required/> -->
            <div id="prad-select">
                <p class="prad-select">
                    <strong>Subdivision</strong>
                </p>
                <select name="subdivision" id="subdivision" class="form-control prad-select" oninput="selLevel3(this)">
                    <option value=""> - Select - </option>
                </select>
                <p class="prad-select">
                    <strong>Unit</strong>
                </p>
                <select name="unit" id="unit" class="form-control prad-select" oninput="selLevel4(this)">
                    <option value=""> - Select - </option>
                </select>
                <p class="prad-select">
                    <strong>Sub Block</strong>
                </p>
                <select name="subblock" id="subblock" class="form-control prad-select" oninput="selLevel5(this)">
                    <option value=""> - Select - </option>
                </select>
                <p class="prad-select">
                    <strong>Lot</strong>
                </p>
                <select name="lot" id="lot" class="form-control prad-select">
                    <option value=""> - Select - </option>
                </select>
            </div>
            <div id="rural-select">
                <p class="rural-select">
                    For assistance locating Texas Sections refer to this <a href"#">map</a>
                    <strong>Survey
                        <span style="color: red;">*</span>
                    </strong>
                </p>
                <select name="survey" id="survey" class="form-control rural-select" required oninput="selLevel3(this)">
                    <option value=""> - Select - </option>
                </select>
                <p class="rural-select">
                    <strong>Block
                        <span style="color: red;">*</span>
                    </strong>
                </p>
                <select name="block" id="block" class="form-control rural-select" required oninput="selLevel4(this)">
                    <option value=""> - Select - </option>
                </select>
                <p class="rural-select">
                    <strong>Section
                        <span style="color: red;">*</span>
                    </strong>
                </p>
                <select name="rural_section" id="rural_section" class="form-control rural-select" required>
                    <option value=""> - Select - </option>
                </select>
            </div>
            <div id="plss-select">
                <p class="plss-select">
                    <strong>Meridian
                        <span style="color: red;">*</span>
                    </strong>
                </p>
                <select name="meridian" id="meridian" class="form-control plss-select" required oninput="selLevel3(this)">
                    <option value=""> - Select - </option>
                </select>
                <p class="plss-select">
                    <strong>Township Range
                        <span style="color: red;">*</span>
                    </strong>
                </p>
                <select name="town_range" id="town_range" class="form-control plss-select" required oninput="selLevel4(this)">
                    <option value=""> - Select - </option>
                </select>
                <p class="plss-select">
                    <strong>Section
                        <span style="color: red;">*</span>
                    </strong>
                </p>
                <select name="section" id="section" class="form-control plss-select" required>
                    <option value=""> - Select - </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="section-header">Folder Path</p>
            <div class="row">
                <div class="col-md-2">
                    <p>
                        <strong>Folder Path
                            <span style="color: red;">*</span>
                        </strong>
                    </p>
                </div>
                <input type="text" name="fpath" class="form-control col-md-6 fpath"  value='{{ form.folder_path.value|default_if_none:"" }}' required oninput="changePath(this)" />
                <div class="col-md-2"></div>
                <a type="text" class="form-control btn btn btn-primary col-md-1 pathlink" href='{{ form.folder_path.value|default_if_none:"javascript:void(0)" }}' target="_blank" > Path </a>
            </div>
        </div>
    </div>
    <button class="btn btn-ext">Save</button>

    <script>

        function ajaxFunc(url, data, indicator) {
            $.ajax({
                method: "get",
                url: url,
                data: data
            }).done(function (counties) {
                body = '<option value=""> - Select - </option>'
                for (i = 0; i < counties.length; i++) {
                    body += '<option value="' + counties[i].toUpperCase() + '">' + counties[i].toUpperCase() + '</option>'

                }
                $(indicator).html(body)
            });
        }

        $(document).ready(function () {
            var form_type = "{{ form.survey_type.value }}";
            console.log(form_type)
            var rural = $(".rural-select"); //document.getElementById('rural-select');
            var prad = $(".prad-select"); //document.getElementById('prad-select');
            var plss = $(".plss-select"); //document.getElementById('plss-select');
            if (form_type == "rural") {
                prad.attr("style", "display:none");
                plss.attr("style", "display:none");
                rural.attr("style", "display:block");

                plss.removeAttr("required");
                rural.attr("required", "");
            } else if (form_type == "prad") {
                //display prad-select
                prad.attr("style", "display:block");
                plss.attr("style", "display:none");
                rural.attr("style", "display:none");

                plss.removeAttr("required");
                rural.removeAttr("required");
            } else if (form_type == "plss") {
                //display plss-select
                prad.attr("style", "display:none");
                plss.attr("style", "display:block");
                rural.attr("style", "display:none");

                plss.attr("required", "");
                rural.removeAttr("required");
            } else {
                prad.attr("style", "display:none");
                plss.attr("style", "display:none");
                rural.attr("style", "display:none");

                plss.removeAttr("required");
                rural.removeAttr("required");
            }

            $.ajax({
                method: "get",
                url: '{% url "ajax_client_data" %}'
            }).done(function (clients) {
                $(".autocomplete-client").autocomplete({
                    source: clients
                });
            });

        });
        function determineForm(e) {
            var join_type = $("#selectsurveytype").val();

            $.ajax({
                method: "get",
                url: "{% url 'ajax_load_counties' %}",
                data: { join_type: join_type }
            })
                .done(function (counties) {
                    body = '<option value=""> - Select - </option>'
                    for (i = 0; i < counties.length; i++) {
                        body += '<option value="' + counties[i] + '">' + counties[i] + '</option>'

                    }
                    $("#selectcounty").html(body)
                });

            $("#subdivision").html('<option value=""> - Select - </option>')
            $("#unit").html('<option value=""> - Select - </option>')
            $("#subblock").html('<option value=""> - Select - </option>')
            $("#lot").html('<option value=""> - Select - </option>')
            $("#survey").html('<option value=""> - Select - </option>')
            $("#block").html('<option value=""> - Select - </option>')
            $("#rural_section").html('<option value=""> - Select - </option>')
            $("#meridian").html('<option value=""> - Select - </option>')
            $("#town_range").html('<option value=""> - Select - </option>')
            $("#section").html('<option value=""> - Select - </option>')

            //3 values are: rural, prad, plss
            var rural = $(".rural-select"); //document.getElementById('rural-select');
            var prad = $(".prad-select"); //document.getElementById('prad-select');
            var plss = $(".plss-select"); //document.getElementById('plss-select');
            if (e.value == "rural") {
                //display rural-select
                prad.attr("style", "display:none");
                plss.attr("style", "display:none");
                rural.attr("style", "display:block");

                prad.removeAttr("required");
                plss.removeAttr("required");
                rural.attr("required", "");
            } else if (e.value == "prad") {
                //display prad-select
                prad.attr("style", "display:block");
                plss.attr("style", "display:none");
                rural.attr("style", "display:none");

                // prad.attr("required", "");
                plss.removeAttr("required");
                rural.removeAttr("required");
            } else if (e.value == "plss") {
                //display plss-select
                prad.attr("style", "display:none");
                plss.attr("style", "display:block");
                rural.attr("style", "display:none");

                prad.removeAttr("required");
                plss.attr("required", "");
                rural.removeAttr("required");
            } else {
                prad.attr("style", "display:none");
                plss.attr("style", "display:none");
                rural.attr("style", "display:none");

                prad.removeAttr("required");
                plss.removeAttr("required");
                rural.removeAttr("required");
            }
        }

        function selCounty(e) {
            var join_type = $("#selectsurveytype").val();
            var county = $("#selectcounty").val();

            $("#subdivision").html('<option value=""> - Select - </option>')
            $("#unit").html('<option value=""> - Select - </option>')
            $("#subblock").html('<option value=""> - Select - </option>')
            $("#lot").html('<option value=""> - Select - </option>')
            $("#survey").html('<option value=""> - Select - </option>')
            $("#block").html('<option value=""> - Select - </option>')
            $("#rural_section").html('<option value=""> - Select - </option>')
            $("#meridian").html('<option value=""> - Select - </option>')
            $("#town_range").html('<option value=""> - Select - </option>')
            $("#section").html('<option value=""> - Select - </option>')

            if (join_type == "rural") {
                ajaxFunc("{% url 'ajax_load_data' %}",
                    { join_type: join_type, county: county, type: "survey" }, "#survey")
            } else if (join_type == "prad") {
                ajaxFunc("{% url 'ajax_load_data' %}",
                    { join_type: join_type, county: county, type: "subdivision" }, "#subdivision")
            } else if (join_type == "plss") {
                ajaxFunc("{% url 'ajax_load_data' %}",
                    { join_type: join_type, county: county, type: "meridian" }, "#meridian")
            } else {
            }
        }

        function selLevel3(obj) {
            var join_type = $("#selectsurveytype").val();
            var county = $("#selectcounty").val();
            type = $(obj).attr("id")

            $("#unit").html('<option value=""> - Select - </option>')
            $("#subblock").html('<option value=""> - Select - </option>')
            $("#lot").html('<option value=""> - Select - </option>')
            $("#block").html('<option value=""> - Select - </option>')
            $("#rural_section").html('<option value=""> - Select - </option>')
            $("#town_range").html('<option value=""> - Select - </option>')
            $("#section").html('<option value=""> - Select - </option>')

            tp = ""
            if (type == "subdivision") {
                tp = "unit"
            } else if (type == "survey") {
                tp = "block"
            } else if (type == "meridian") {
                tp = "town_range"
            }

            ajaxFunc("{% url 'ajax_load_data' %}",
                { join_type: join_type, county: county, level1: $(obj).val(), type: tp }, "#" + tp)
        }

        function selLevel4(obj) {
            var join_type = $("#selectsurveytype").val();
            var county = $("#selectcounty").val();
            type = $(obj).attr("id")

            $("#subblock").html('<option value=""> - Select - </option>')
            $("#lot").html('<option value=""> - Select - </option>')
            $("#rural_section").html('<option value=""> - Select - </option>')
            $("#section").html('<option value=""> - Select - </option>')

            tp = ""
            level1 = ""
            if (type == "unit") {
                level1 = $("#subdivision").val()
                tp = "subblock"
            } else if (type == "block") {
                level1 = $("#survey").val()
                tp = "rural_section"
            } else if (type == "town_range") {
                level1 = $("#meridian").val()
                tp = "section"
            }

            ajaxFunc("{% url 'ajax_load_data' %}",
                { join_type: join_type, county: county, level1: level1, level2: $(obj).val(), type: tp }, "#" + tp)
        }

        function selLevel5(obj) {
            var join_type = $("#selectsurveytype").val();
            var county = $("#selectcounty").val();
            type = $(obj).attr("id")

            $("#lot").html('<option value=""> - Select - </option>')

            level1 = $("#subdivision").val()
            level2 = $("#unit").val()
            tp = "lot"

            ajaxFunc("{% url 'ajax_load_data' %}",
                {
                    join_type: join_type, county: county, level1: level1, level2: level2,
                    level3: $(obj).val(), type: tp
                }, "#" + tp)
        }

        function changePath(obj){
            $(".pathlink").attr("href", $(obj).val())
        }

    </script>
</form>
{% endblock %}