{% extends 'blog/base.html' %} {% block content %}


<table id="escalation" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Project No.</th>
            <th>Survey Type</th>
            <th>Client</th>
            <th>County</th>

            <th>Priority Address</th>
            <th>Survey</th>
            <th>Block</th>
            <th>Section</th>
            <th>Subdivision</th>
            <th>Unit</th>
            <th>Block</th>
            <th>Lot</th>
            <th>Meridian</th>
            <th>Township Range</th>
            <th>Section</th>
            <th>Edit/Review</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Survey Type</th>
            <th>Project No.</th>
            <th>Client</th>
            <th>County</th>

            <th>Priority Address</th>
            <th>Survey</th>
            <th>Block</th>
            <th>Section</th>
            <th>Subdivision</th>
            <th>Unit</th>
            <th>Block</th>
            <th>Lot</th>
            <th>Meridian</th>
            <th>Township Range</th>
            <th>Section</th>
            <th>Edit/Review</th>
        </tr>
    </tfoot>
</table>
{% endblock %}