bs
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Title!</strong> Alert body ...
</div>


<div class="col-md-6">
    <div class="container">
        <p class="section-header">Job Location:</p>
        <p>
            <strong>Address:</strong>
        </p>
        <input type="text" name="address" class="form-control" placeholder="1234 Main St." />
        <div class="form-inline">
            <input type="text" name="city" class="form-control col-md-8" placeholder="City" />
            <input type="text" name="state" style="float: right;" class="form-control col-md-4" placeholder="State/Province" />
        </div>
        <div class="form-inline">
            <input type="text" name="zip" class="form-control col-md-8" placeholder="Postal/Zip Code" />
            <input type="text" name="country" id="country" style="float: right;" class="form-control col-md-4" placeholder="Country"
            />
        </div>
    </div>
    <div class="container">

        <p class="section-header">Legal:</p>
        <p>
            <strong>Survey Type
                <span style="color:red;">*</span>
            </strong>
        </p>
        <select name="surveytype" class="form-control" oninput="determineForm(this)" required>
            <option value="default">- Select -</option>
            <option value="prad">PRAD</option>
            <option value="rural">RURAL</option>
            <option value="plss">PLSS</option>
        </select>
        <p>
            <strong>County
                <span style="color: red;">*</span>
            </strong>
        </p>
        <input type="text" name="county" class="form-control" id="county" required/>
        <div id="prad-select" style="display: none;">
            <p>
                <strong>Subdivision</strong>
            </p>
            <input type="text" name="subdivision" class="form-control" />
            <p>
                <strong>Unit</strong>
            </p>
            <input type="text" name="unit" class="form-control" />
            <p>
                <strong>Sub Block</strong>
            </p>
            <input type="text" name="subblock" class="form-control" />
            <p>
                <strong>Lot</strong>
            </p>
            <input type="text" name="lot" class="form-control" />
        </div>
        <div id="rural-select" style="display: none;">
            <p>
                <strong>Survey
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <input type="text" name="survey" class="form-control" id="survey" />
            <p>
                <strong>Block
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <input type="text" name="block" class="form-control" id="block" />
            <p>
                <strong>Section
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <input type="text" name="section" class="form-control" id="section" />
        </div>
        <div id="plss-select" style="display: none;">
            <p>
                <strong>Meridian
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <input type="text" name="meridian" class="form-control" id="meridian" />
            <p>
                <strong>Township Range
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <input type="text" name="town_range" class="form-control" id="town-range" />
            <p>
                <strong>Section
                    <span style="color: red;">*</span>
                </strong>
            </p>
            <input type="text" name="section" class="form-control" id="" />
        </div>
    </div>
</div>